
#logo{
  width: 200px;
  height: 200px;
  position: absolute;
  fill:black;
  animation: fill 0.5s ease forwards 2.7s;
}
#logo path:nth-child(1){
  stroke-dasharray : 217;
  stroke-dashoffset:217;
  animation:line-anim 3s ease forwards 0.3s;

}
#logo path:nth-child(2){
  stroke-dasharray : 217;
  stroke-dashoffset:217;
  animation:line-anim 3s ease forwards 0.3s;

}
#logo path:nth-child(3){
  stroke-dasharray : 168;
  stroke-dashoffset:168;
  animation:line-anim 3s ease forwards 0.6s;
}
#logo path:nth-child(4){
  stroke-dasharray:168;
  stroke-dashoffset:168;
  animation:line-anim 3s ease forwards 0.9s;
}
#logo path:nth-child(5){
  stroke-dasharray:296;
  stroke-dashoffset:296;
  animation:line-anim 3s ease forwards 1.2s;
}
#logo path:nth-child(6){
  stroke-dasharray:269;
  stroke-dashoffset:269;
  animation:line-anim 3s ease forwards 1.5s;
}
#logo path:nth-child(7){
  stroke-dasharray:260;
  stroke-dashoffset:260;
  animation:line-anim 3s ease forwards 1.8s;
}
#logo path:nth-child(8){
  stroke-dasharray:200;
  stroke-dashoffset:200;
  animation:line-anim 3s ease forwards 2.1s;
}
#logo path:nth-child(9){
  stroke-dasharray : 235;
  stroke-dashoffset:235;
  animation:line-anim 3s ease forwards 2.4s;
}
#logo path:nth-child(10){
  stroke-dasharray :296;
  stroke-dashoffset:296;
  animation:line-anim 3s ease forwards 2.7s;
}

@keyframes line-anim {
  to{
    stroke-dashoffset:0;
  }

}

@keyframes fill{
  from{
    fill:trasparent;
  }
  to{
    fill:white;
  }

}
