body{
    background: #eee;
    font-family: 'Nunito SemiBold';
}
.logo-font{
  font-family: 'Major Mono Display', monospace;
}

.site-font{
  font-family: 'Titillium Web', sans-serif;
  color:  #F8F8FF;
}
